@media (prefers-color-scheme: dark) {
    :root {
        --background-coulor: #140021;
        --text-color: #ffffff;


    }

}

@media (prefers-color-scheme: light) {
    :root {
        --background-coulor: #e7ddb2;
        --text-color: #000000;
    }

}


html {
    background-color: var(--background-coulor);
    color: var(--text-color);

    font-family: Rubik, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;

    margin: 2vh;
    padding: 1vh;
    background-color: aqua;
    border-radius: 3vh;
}

a {
    color: black;
}

.hero {
    margin-top: 1vh;
    margin-bottom: 100vh;

    font-size: 3vh;
    text-align: center;
    border-radius: 2vh;
}

.hero img {
    margin-top: 1vh;

    width: 40vh;
}

.btn {
    background-color: white;

    padding: 2vh;
    border-radius: 3ch;
}